.form-component {
  .form-container {
    text-align: center;
    font-size: 1.8rem;
    border-radius: 10px;
  // }
  // form {
    text-align: center;
    width: 350px;
    margin: 0 auto;
    // background: rgba(192, 190, 190, 0.639);
    padding: 10px;
    input[type="text"] {
      padding: 1px 10px;
      border-radius: 10px 10px 0 0;
      border: none;
       font-size: 1.5rem;
      display: block;
      margin: 0 auto;
      width: 300px;
      outline: none;
      text-align: center;
    }
    label {
      width: 300px;
      background: $color-1;
      display: block;
      margin: 0 auto;
    }
    h4 {
      position: relative;
      bottom: -13px;
    }
    button {
      padding: 1px 10px;
      width: 220px;
      border-radius: 0 0 10px 10px;
      border: none;
      background: $color-1;
      color: $white;
      font-size: 1.5rem;
      cursor: pointer;
      z-index: 10;
      position: relative;

      &:hover {
        background: $black;
        color: $white;
      }
    }
  }
  .btn-sort-container {
    margin: 8px auto;
    width: 220px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    height: 40px;
    #decroissant {
      border-radius: 10px 0 0 10px;
    }
    #croissant {
      border-radius: 0 10px 10px 0;
    }
    #croissant,
    #decroissant {
      background: $color-1;
      width: 110px;
      transition: 0.3s;
      position: relative;

      &:hover {
        background: $black;
        color: $white;
      }
    }
    #goodToBad span {
      transform: translateY(-50%) rotate(-90deg);
      right: 18px;
    }
    #badToGood span {
      transform: translateY(-50%) rotate(90deg);
      left: 16px;
      color: $white;
    }
    #goodToBad span,
    #badToGood span {
      position: absolute;
      top: 50%;
    }
  }
}
