.header {
    margin-bottom: 30px;
  h1 {
    font-size: 4.3rem;
    text-shadow: 2px 3px 0px $color-1;
    text-align: center;
    letter-spacing: 2px;
  }
  nav {
    position: absolute;
    top: 30px; //16px
    left: 30px; //16px
    font-size: 1.6rem;//1.3rem
    padding: 40px 0;
    ul {
      display: flex;

      a {
        text-decoration: none;
        color: $white;
        border-radius: 10px;
        width: 132px;//102px
        margin-right: 5px;
text-align: center;
        &:visited {
          text-decoration: none;
          color: $white;
        }
        &:hover {
          background: $black;
        }
      }
      a.nav-active {
        background: $color-1;
        height: 35px;

        &:hover {
          background: $black;
           height: 35px;
        }
      }
    }
    h2{
      font-size: 2.3rem;
    text-align: center;
    letter-spacing: 2px;
    }
  }
}
